@import url("https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Nanum+Brush+Script&display=swap");

header {
  display: flex;
  max-width: 560px;
  position: relative;
}
img {
  border: 5px solid #0063ac;
  border-radius: 3px;
  display: flex;
  justify-items: center;
  justify-content: center;
}
h1 {
  font-family: "Nanum Brush Script", cursive;
  font-size: 50px;
  padding: 1px;
  background-color: #0063ac;
  text-align: center;
  margin: 0px;
  border: 1px solid #0063ac;
  border-radius: 5px;
  width: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.end {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  width: 560px;
  height: 150px;
  border: 1px solid white;
  background-color: #0063ac;
  border-radius: 5px;
}
li {
  font-family: "Courier Prime", monospace;
  padding: 1em;
  max-width: 560px;
  text-align: center;
}
p {
  font-family: "Courier Prime", monospace;
  padding: 7px;
  max-width: 560px;
  text-align: center;
  margin: 0 auto;
}
